# declare a service object
apiVersion: v1
kind: Service
metadata:
  name: apache-svc
  labels:
    app: hello-apache
    version: v1.1
    env: prod
# define and configure service to acces 80 port
spec:
  type: NodePort
  ports:
  - port: 80
    nodePort: 32400
    protocol: TCP
  selector:
    app: hello-apache
